################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aldis_Lamp_BaseLogic/.vs/Aldis_Lamp_BaseLogic/v15/Server/sqlite3/db.lock
